@model ClienteManager.ViewModels.RegisterViewModel
@{ 
    ViewData["Title"] = "Registrar"; 
    Layout = "_Layout";}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header text-center"><h3>@ViewData["Title"]</h3></div>
            <div class="card-body">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="Usuário"/>
                        <label asp-for="UserName"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Senha" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Senha" />
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-grid"><button type="submit" class="btn btn-primary">Registrar</button></div>
                </form>
            </div>
             <div class="card-footer text-center"><a asp-action="Login">Já tem uma conta? Faça o login</a></div>
        </div>
    </div>
</div>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }